<div class="MenuPage-encouragement" >
    <p class > Yay, your order has been placed ! </p>
</div>
<div class="MenuPage-encouragement" >
    <p class > Our staff will call you when its ready ! </p>
</div>
<h3 class="MenuFinal-otherOrder">
    Want to place another order ?, <%= link_to "Yes !", menus_path %>
</h3>
