<h1 class="Home-title"> Logged in as Admin </h1>

<h3 class="Home-authenticate" >
    You are on orders page, to change menus go to, <%= link_to "menus page", menusEdit_path %>
</h3>

<br> This is order processing page for admins</br>
