<h1 class="Home-title"> Logged in as Admin  </h1>

<h3 class="Home-authenticate" >
    You are on menus page, to manage orders go to, <%= link_to "orders page", admins_path %>
</h3>


<br> This is menus modification page for admins </br>
